<ul class="breadcrumbs">
  <li class="bucket"><a href="<%= url("/buckets/#{@bucket.name}") %>"><%= @bucket.name %></a></li>
  <% node = @directories.first || @files.first %>
  <% path = node.parent.prefix.split('/') %>

  <% node.parent.prefix.split('/').each_with_index do |dir, index| %>
    <li><a href="<%= url("/buckets/#{@bucket.name}/#{path[0..-index].join('/')}") %>"><%= dir %></a></li>
  <% end %>
</ul>

<% unless @directories.empty? %>
  <ul>
    <% @directories.each do |directory| %>
      <% dir = directory.prefix.gsub(params[:splat].first + "/", "") %>
      <li>
        <a href="<%= dir %>"><%= dir %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @files.empty? %>
  <h2>Files</h2>
  <ul>
    <% @files.each do |file| %>
      <li><a href="<%= file.object.url_for(:read) %>"><%= file.key.gsub(params[:splat].first, "") %></a></li>
    <% end %>
  </ul>
<% end %>