<ul class="breadcrumbs">
  <% path = @file.first.try(:parentage) %>
  <% path.reverse_each do |node| %>
    <% if node.parentage %>
      <li>
        <a href=<%= url("/bucket/#{node.parentage.sort_by(&:level).collect(&:name).join('/')}" + "/#{node.name}/") %>>
          <%= node.name %>
        </a>
      </li>
    <% else %>
      <li><a href=<%= url("/bucket/#{node.name}/") %>><%= node.name %></a></li>
    <% end %>
  <% end %>
  <li class="current"><a href="#"><%= @file.name %></a></li>
</ul>

<% unless @directories.empty? %>
  <h2>Directories</h2>
  <ul>
    <% @directories.each do |directory| %>
      <li>
        <a href="<%= directory.name %>/"><%= directory.name %></a>
      </li>
    <% end %>
  </ul>
<% end %>

<% unless @files.empty? %>
  <h2>Files</h2>
  <ul>
    <% @files.each do |file| %>
      <li><a href="<%= url(file.content.url(Time.now + 10*60)) %>"><%= file.name %></a></li>
    <% end %>
  </ul>
<% end %>