<ul class="breadcrumbs">
  <li>
    <a href="/bucket/<%= params[:bucket_id] %>/"><%= params[:bucket_id] %></a>
  </li>
  <% if params[:prefix].split('/').size > 1 %>
    <% last_prefix = params[:prefix].split('/').last + '/' %>
    <li>
      <a href="?prefix=<%= params[:prefix].gsub(last_prefix, '') %>">
        <%= params[:prefix].gsub(last_prefix, '') %>
      </a>
    </li>
    > <%= last_prefix %>
  <% else %>
    <li>
      <a href="?prefix=<%= params[:prefix] %>"><%= params[:prefix] %></a>
    </li>
  <% end %>
</ul>

<ul class="accordion">
  <% @tree.each do |node| %>
    <% next if node.is_root? %>

    <% if node.has_children? %>
      <% if node.parent != @tree.root %>
        <ul class="accordion">
      <% end %>
      <li class="directory">
        <div class="title">
          <h5><%= node.name %></h5>
        </div>
        <div class="content">
    <% elsif node.is_leaf? %>
          <ul>
            <li class="file">
              <a href="<%= node.content.url(Time.now + 10*60) %>">
                <%= node.name %>
              </a>
            </li>
          </ul>
      <% if node.is_last_sibling? %>
        </div>
      </li>
      <% end %>
      <% if node.has_children? && node.parent != @tree.root %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</ul>

<script>
  $(function(){
    $(document).foundationAccordion();
  });
</script>
