<style>
  li.directory {
    font-weight: bold;
    font-size: 110%;
  }
  .directory .file {
    list-style: none;
    font-weight: lighter;
    font-size: 90%;
    font-style: italic;
  }
</style>

<h1>
  <% if params[:prefix].split('/').size > 1 %>
    <% last_prefix = params[:prefix].split('/').last + '/' %>
    <a href="?prefix=<%= params[:prefix].gsub(last_prefix, '') %>">
      <%= params[:prefix].gsub(last_prefix, '') %>
    </a>
    > <%= last_prefix %>
  <% else %>
    <a href="?prefix=<%= params[:prefix] %>"><%= params[:prefix] %></a>
  <% end %>
</h1>

<div>
  <ul>
    <% @tree.each do |node| %>
      <% next if node.is_root? %>
      <% if node.has_children? %>
        <li class="directory">
          <%= node.name %>
          <ul>
      <% elsif node.is_leaf? %>
        <li class="file">
          <a href="<%= node.content.url(Time.now + 10*60) %>">
            <%= node.name %>
          </a>
        </li>
        <% if node.is_last_sibling? %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>