<style>
  .directory {
    font-weight: bold;
    font-size: 110%;
  }
  .file {
    list-style: none;
  }
</style>

<h1><%= @tree.root.name %></h1>

<ul>
  <% @tree.children.each do |child| %>
    <% if child.has_children? %>
      <li class="directory">
        <a href="?prefix=<%= child.content.key %>">
          <%= child.name %> >
        </a>
      </li>
    <% else %>
      <li class="file">
        <a href="<%= child.content.url(Time.now + 10*60) %>">
        <%= child.name %>
      </a>
    </li>
    <% end %>
  <% end %>
</ul>