<!doctype html>

<html>
  <head>
    <title>BROWS3.it - An Amazing S3 Browser.</title>

    <link href="/images/favicon.png" rel="shortcut icon" type="image/png">

    <meta name="keywords" content="amazon,aws,s3,brows3,s3 browser,amazon browser">
    <meta name="description" content="BROWS3 is an AWS S3 file browser that is secure, pretty and easy to use.">
    <meta name="author" content="Tractical. Tractical is a small web development studio located in Mexico.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= css :application, media: "screen" %>
  </head>

  <body>

    <div id="content">
      <% unless request.path_info == "/" %>
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="<%= url('/') %>">
                  <img src="/images/brows3.png" alt="An Amazing S3 Browser" width="27" height="31">
                </a>
              </h1>
            </li>
            <li class="toggle-topbar icon"><a href="#"><span>Menu</span></a></li>
          </ul>
        </nav>
      <% end %>

      <div class="application">
        <% if flash[:notice] %>
          <div class="row">
            <div class="large-12 columns">
              <div data-alert class="custom-alert">
                <%= flash[:notice] %>
                <a href="#" class="close">&times;</a>
              </div>
            </div>
          </div>
        <% elsif flash[:alert] %>
          <div class="row">
            <div class="large-8 columns">
              <div data-alert class="custom-alert">
                <%= flash[:alert] %>
                <a href="#" class="close">&times;</a>
              </div>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>

      <div id="footer"></div>
    </div>

    <footer class="main">
      <div class="row collapse">
        <a class="footer-option" href="<%= url('privacy') %>">Privacy Policy</a>
        <a class="footer-option" href="<%= url('terms') %>">Terms of Service</a>
        <a class="footer-option" href="<%= url('faq') %>">FAQ</a>
      </div>
    </footer>

    <%= js :application %>
    <%= js :foundation %>
    <%= js :parallax %>
  </body>
</html>
