<!doctype html>

<html>
  <head>
    <meta name="robots" content="none">
    <meta name="googlebot" content="noarchive">
    <title>BrowS3.it</title>
    <%= stylesheet "/stylesheets/normalize.css" %>
    <%= stylesheet "/stylesheets/app.css" %>
  </head>

  <body>

    <div id="wrapper">
      <div id="content">
        <% if flash[:notice] %>
          <div class="alert-box row">
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert-box alert row">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <footer class="main">
      <div class="row collapse">
        <a class="footer-option" href="#">Contact us</a>
        <a class="footer-option" href="#">FAQ</a>
        <a class="footer-option" href="#">Privacy & Terms</a>
      </div>
    </footer>

  </body>
</html>