<ul class="breadcrumbs">
  <li class="current"><a href="#"><%= @bucket.name %></a></li>
</ul>

<% unless @directories.empty? %>
  <ul>
    <% @directories.each do |directory| %>
      <li><a href="<%= directory %>"><%= directory %></a></li>
    <% end %>
  </ul>
<% end %>

<% unless @files.empty? %>
  <h2>Files</h2>
  <ul>
    <% @files.each do |file| %>
      <li><a href="<%= file.object.url_for(:read) %>"><%= file.key %></a></li>
    <% end %>
  </ul>
<% end %>